  <section id=formulaire>
	  <fieldset>
	    <legend><b>User Visibility</b></legend>
	    <div>
		<label>DC IP Address</label>
		<input class="form1-input" type = "text" name="DCIP" id="DCIP" value = "" placeholder="e.g.   192.168.0.1" />
	    </div>
    	<div>
		<label>Domain Name</label>
		<input class="form1-input" type = "text" name="DomainName" id="DomainName" value = "" placeholder="e.g.   company.local" />
	    </div>
    	<div>
		<label>User Name</label>
		<input class="form1-input" type = "text" name="Username" id="Username" value = "" placeholder="e.g.   administrator" />
	    </div>
    	<div>
		<label>Password</label>
		<input class="form1-input" type = "text" name="Password" id="Password" value = "" placeholder="e.g.   passsword" />
	    </div>
	  </fieldset>
  </section>