  <section id=formulaire>
	  <fieldset>
	    <legend><b>AppSecure Configuration</b></legend>
	    <div>
		<label>AppTrack</label>
		<select class="form1-input" name="apptrack" id="apptrack">
		  <option value="apptrack_off">Disabled</otpion>
		  <option value="apptrack_on">Enabled</otpion>
		</select>
		<span class="help-tip">
		  <p>Enable it to get visbility into applications usage</p>
	        </span>
	    </div>
	    <div>
		<label>AppFW</label>
		<select class="form1-input" name="appfw" id="appfw">
		  <option value="appfw_off">Disabled</otpion>
		  <option value="appfw_demo">AppFW Demo Blacklist (18.2)</option>
		</select>
		<span class="help-tip">
		  <p><b>"AppFW Demo" will block:</b> P2P, Gaming, proxy, anonymizers, streaming</p>
	        </span>
	    </div>
	  </fieldset>
  </section>